# This is the configuration we use for the server-side part of mapview.

telemetry {
  # The coordinates log is a log of all data that we have previously dispatched to
  # mapview-send. This path is written to by rttyparser and read from by
  # mapview-send.
  #
  # Each time a client connects to mapview-send, we'll send them the contents of
  # this file in a particular format that lets mapview-psc (the client-side part
  # of mapview) know that it needs to display this path.
  coordinates-history = "/var/tmp/w8upd/coordinates-log.json"

  # The rtty log is a record of the raw telemetry we've received from the modem
  # command. Every time we see a newline, we write the line it follows to this
  # file. This is useful for auditing and maybe debugging.
  raw-log = "/var/tmp/w8upd/rttylog"

  # This path is where we write the "working coordinates" on each update. Every
  # time we successfully parse an update, we write a JSONified version of the
  # result to this file.
  #
  # This file is what mapview-send reads to send out its location update
  # broadcasts. If this file changes, a JSON message will be sent out to all
  # connected clients, containing this file's contents.
  working-coordinates = "/tmp/w8upd/rtty-coordinates.json"

  # mapview-rttyparser shells out to minimodem, an external dependency. These
  # are the flags we pass to minimodem, when we shell to it. -r is mandatory
  # and -q is strongly recommended to reduce noise in logs. The other options
  # vary based on the mode and mode-specific settings being used.
  minimodem-flags = ["-r", "-q", "rtty", "-S", "700", "-M", "870"]
}

websockets {
  # This defines the port that the websockets server should listen on.
  port = 9160

  # This defines the IP to listen on.
  host = "0.0.0.0"
}
